* {
	margin: 0;
	padding: 0;
	font-family: microsoft yahei;
}
body {
	background-color: #ffffff;
	width: 100%;
}
header {
	position: fixed;
	background-color: #ffffff;
	width: 100%;
	height: 60px;
	.logo {
		margin-left: 4.3%;
	}
	span {
		margin-left: 10px;
		margin-right: 29%;
		margin-top: 10px;
		font-size: 1.5em;
		line-height: 60px;
	}
	li {
		display: inline-block;
		list-style: none;
		width: 8%;
		margin-left: 2%;
		font-size: 18px;
		height: 60px;
		opacity: 0.6;
		line-height: 60px;
		box-sizing: border-box;
		text-align: center;
	}
	.login {
        width: 4%;
        margin-left: 0;
	}
	.on {
		border-bottom: 5px solid #da908f;
		color: #da908f;
		margin-right: -2%;
		width: 5%;
	}
}
#banner {
	width: 100%;
	height: 691px;
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	p {
		width: 40%;
	}
	.b_title {
        font-size: 4em;
        color: #ffffff;
        position: relative;
        top: 230px;
        left: 9%;
	}
	.word {
		color: #ffffff;
		font-size: 1em;
		position: relative;
		top: 242px;
		left: 10%;
		line-height: 1.5em;
	}
	.btn {
		width: 25.5%;
		height: 63px;
		background-color: #e74f4d;
		margin-top: 67px;
		text-align: center;
		line-height: 63px;
		font-size: 1.8em;
	}
}
#theme {
	width: 100%;
	height:250px;
	overflow: auto;
	.one {
		white-space: nowrap;
		text-align: center;
		width: 25%;
		height: 100%;
		float: left;
		img {
			margin: 45px 0;
		}
		.content {
			box-sizing: border-box;
			width: 100%;
			height: 52px;
			border-right: 2px solid #bbbbbb;
		}
	}
}
#question {
	text-align: center;
	width: 100%;
	height: 363px;
	background-color: #ececec;
	img {
		margin-top: 78px;
	}
	p {
		margin-top: 42px;
		color: #a1a1a1;
		font-size: 3em;
	}
}
#search {
	text-align: center;
	width: 100%;
	height: 340px;
	background-image: url(../images/9.jpg);
	background-size: 100% 100%;
	.title {
		font-size: 1.5em;
		color: #ffffff;
		padding-top: 50px;
		line-height: 40px;
		span {
			display: inline-block;
			border-bottom: 3px solid #ffffff;
		}
	}
	.word {
		margin-top: 20px;
		color: #ffffff;
	}
	.input {
		margin-top: 50px;
		input {
			width: 17%;
			height: 25px;
			padding: 10px;
			background-image: url(../images/10.jpg);
			background-repeat: no-repeat;
			background-position: 98%;
		}
		.left {
			margin-left: 15px;

		}
		.button {
			display: inline-block;
			width: 17%;
			height: 45px;
			margin-left: 15px;
			background-color: #be4e48;
			line-height: 45px;
			text-align: center;
		}
	}
	.kuang {
		width: 18.45%;
		height: 150px;
		background-color: #e4e3e5;
		position: relative;
		left: 31.65%;
		li {
			list-style: none;
			line-height: 25px;
			text-align: left;
			padding-left: 15%;
		}
		.on {
			background-color: #be4e48;
		}
	}
}
#activity {
	width: 100%;
	height: 609px;
	background-color: #f7f7f7;
	overflow: hidden;
	.show {
		display: inline-block;
		padding-top: 100px;
		padding-left: 20px;
		width: 17%;
		height: auto;
		float: left;
		p {
			text-align: center;
			margin-top: 10px;
		}
		.big {
				font-size: 1.2em;
		}
	}
	.on {
		padding-left: 15%;
	}
}
#neww {
	width: 100%	;
	height: 568px;
	overflow: hidden;
	.left {
		color: #ffffff;
		text-align: center;
		width: 66.4%;
		height: 100%;
		float: left;
		background-image: url(../images/15.jpg);
		background-size: 100% 100%;
		.one {
			font-size: 2.5em;
			margin-top: 128px;
		}
		.two {
			font-size: 9em;
		}
	}
	.right {
		text-align: center;
		width: 33.6%;
		height: 100%;
		float: right;
		.title {
			padding: 140px 0 15px 0;
			font-size: 1.2em;
			color: black;
			span {
				color: #be4e48;
			}
		}
		p {
			line-height: 30px;
			color: #bdbdbd;
		}
		.more {
			color: #be4e48;
			margin-top: 46px;
			height: 33px;
			width: 26%;
			border: 2px solid #be4e48;
			margin-left: 37%;
		}
		.pic {
			margin-top: 10px;
			span {
				display: inline-block;
				height: 8px;
				width: 8px;
				border: 1px solid black;
				border-radius: 100%;
				margin-left: 10px;
				opacity: 0.6;
			}
			.on {
			    margin-left: 0;
			    background-color: #929292;
			}
		}
	}
}
#life {
	width: 100%;
	height: 520px;
	overflow: hidden;
	text-align: center;
	.life {
		line-height: 1.5em;
		font-size: 1.2em;
		color: white;
		float: left;
		width: 33.2%;
		height: 100%;
		background-color: #be4e48;
		.new {
			margin-top: 170px;
		}
		.more {
			display: inline-block;
		    width: 35%;
			height: 45px;
			border: 2px solid #ffffff;
			margin-top: 20px;
			line-height: 45px;
		}
		.on {
			border: 2px solid #be4e48;
		}
	}
	.white {
		background-color: white;
		color: black;
	}
	.pic {
		background-image: url(../images/16.jpg);
		width: 33.6%;
		height: 100%;
		background-size: 100% 100%;
		float: left;
	}
}
#form {
	width: 100%;
	height: 745px;
	.main {
		margin: 110px 128px;
		.title {
			margin-bottom: 	100px;
			text-align: center;
			h3 {
				font-weight: 500;
				font-size: 1.3em;
				opacity: 1;
			}
			p {
				opacity: 0.6;
				line-height: 1.4em;
			}
			.content {
				margin-top: 30px;
			}
		}
		.left {
			width: 22%;
			height: 100%;
			float: left;
			.name {
				text-align: right;
			}
			.begin {
				margin-top: 24px;
			}
		}
		.right {
			width: 56%;
			float: left;
			margin-left: 20%;
			height: 100%;
			span {
				padding: 0 8px;
				line-height: 38px;
				display: inline-block;
				width: 42%;
				height: 40px;
				background-color: #ededef;
				margin-left: 5%;
				margin-bottom: 2.5%;
			}
			div {
				margin-left: 5%;
				width: 95%;
				height: 130px;
				background-color: #ededef;
				p {
					padding: 10px;
				}
			}
			.submit {
				margin-top: 20px;
				width: 95%;
				height: 40px;
				background-color: #ededef;
				margin-left: 5%;
				line-height: 40px;
				text-align: center;
			}
		}
	}
}
footer {
	width: 100%;
	height: 412px;
	color: #ffffff;
	.connect {
        background-color: #32353e;
        height: 358px;
        width: 100%;
        text-align: center;
        .h {
        	padding-top: 84px;
        	font-size: 1.3em;
        	letter-spacing: 3px;
        }
        p {
        	font-size: 0.8em;
        }
        .input {
        	margin-top: 30px;
        	input {
        		width: 30%;
        		height: 40px;
        	}
        	span {
        		display: inline-block;
        		background-color: #6f7278;
        		width: 5%;
        		line-height: 40px;
        		height: 40px;
        	}
        }
        .icon {
        	margin-top: 30px;
        }
	}
	.last {
		width: 100%;
		height: 54px;
		background-color: #2f2f38;
		line-height: 54px;
		.left {
			display: inline-block;
			float: left;
			margin-left: 10%;
		}
		.right {
			display: inline-block;
			float: right;
			margin-right: 5%;
		}
	}
}